@*@model  IEnumerable<ProjetoJornal.ViewModel.MenuCategoriasModel>*@
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li class="nav-item">
        @*<a class="nav-link fashion" href="@Url.Action("Menu", "Home")?cat=@item.IdCategoria">@item.Categoria</a>*@
        <a class="nav-link fashion" href="#">Mundo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fashion" href="#">Brasil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fashion" href="#">Moda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fashion" href="#">Esportes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fashion" href="#">Política</a>
    </li>
</ul>
