<div class="share-post-box">
    <ul class="share-box">
        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i><span>Share on Facebook</span></a></li>
        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i><span>Share on Instagram</span></a></li>
    </ul>
</div>
