<div class="row">
    <div class="col-lg-8">
        <!-- error box -->
        <div class="error-box">
            <div class="error-banner">
                <h1>Error <span>404</span></h1>
                <p>Oops! It looks like nothing was found at this location. Maybe try another link or a search?</p>
            </div>
            <div class="search-box">
                <form role="search" class="search-form">
                    <input type="text" id="search" name="search" placeholder="Search here">
                    <button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <!-- End error box -->
    </div>
</div>
